body{background-image: url(assets/bcbackground@2x.png);
  font-family: "Ole", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 0.3;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "l l t t t t t t t t r r"
    "l l t t t t t t t t r r"
    "l l t t t t t t t t r r"
    "l l m m m m m m m m r r"
    "l l b b b b b b b b r r"
    "l l b b b b b b b b r r";
  max-width: 1722px;
  min-height: 1117px;
  margin: 0 auto;
}

/* Grid Areas */
.top { 
    grid-area: t; 
    text-align: center;
}
.left { 
    grid-area: l; 
    }
.right { 
    grid-area: r; 
    text-align: right;
    }
.middle { 
    grid-area: m; 
    text-align: center;
    }
.bottom { 
    grid-area: b; 
    text-align: center;
    svg{
        height: 50%;

    }
}




.container
h1{color: rgb(0, 0, 0);
font-size: 200px;
}

h2{color: rgb(0, 0, 0);
font-size: 100px;
}

h3{color: rgb(0, 0, 0);
font-size: 50px;
}
