body{background-image: url(assets/bcbackground@2x.png);
  font-family: "Ole", cursive;
  font-weight: 400;
  font-style: normal;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "l l t t t t t t t t r r"
    "l l t t t t t t t t r r"
    "l l t t t t t t t t r r"
    "l l m m m m m m m m r r"
    "l l m m m m m m m m r r"
    "l l b b b b b b b b r r";
  max-width: 1722px;
  min-height: 1117px;
  margin: 0 auto;
}

/* Grid Areas */
.top { 
    grid-area: t; 
    }
.left { 
    grid-area: l; 
    }
.right { 
    grid-area: r; 
    }
.middle { 
    grid-area: m; 
}
.bottom { 
    grid-area: b; 
}





.container
h1{color: rgb(0, 0, 0);
font-size: 100px;
}